---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  &lt;div class="wordwrap"&gt;You can also find my articles on &lt;a href="{{site.author.googlescholar}}"&gt;my Google Scholar profile&lt;/a&gt;.&lt;/div&gt;
{% endif %}

{% include base_path %}

&lt;!-- New style rendering if publication categories are defined --&gt;
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        &lt;h2&gt;{{ category[1].title }}&lt;/h2&gt;&lt;hr /&gt;
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
